.bodybg{
    background-color: #afd4c0;
    width: 100%;
    height: auto;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#otherbody{
    justify-content: unset;
    min-height: 950px;
}

.middlebody{
    width: 50%;
    height: auto;
    min-height: 850px;
    min-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#otherview{
    background-color: #e2f3ea;
    justify-content: unset;
    padding-top: 100px;
    
    
    
}

.avInput{
    font-size: 25px;
    width: 70%;
    margin-bottom: 25px;
    border: 1px solid #519872;
}

.authtext{
    font-size: 20px;
    margin-bottom: 3px;
    position: relative;
    left: -27%;
}

.abelement{
    display: flex;
    flex-direction: row;
}

.authButton{
    border: none;
    width: 130px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
}

#login{
    background-color: #8aea92;
}

#register{
    background-color: #3b5249;
    color: white;
}

.spacer1{
    width: 40px;
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #519872;
    align-items: center;
}

.navelements{
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navtext{
    color: #fff;
    margin-left: 10px;
    font-size: 30px;
    letter-spacing: 2px;
}

#houser{
    font-weight: 800;
}

#logouttext{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
}

.filterContainer{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.propbutton{
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: #8aea92;
}

.proptext{
    font-weight: 700;
}

.filter{
    width: 85px;
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 20px;
    border: 1px solid #519872;
    outline: none;
    font-size: 20px;
}

.filterB{
    box-sizing: border-box;
    font-size: 18px;
    background-color: #8aea92;
    border: none;
    padding: 7px;
    width: 70px;
    cursor: pointer;
}

#resetB{
    color: #fff;
    margin-left: 10px;
    background-color: #3b5249;
}

.rentText{
    font-size: 23px;
}

.hl{
    position:relative;
    font-size: 20px;
    right: 280px;
}

.addlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

.cancelbtn{
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    background-color: #fec2c2;
    border: none;
    height: 33px;
}

.newl{
    font-size: 28px;
}

.step{
    font-size: 24px;
}

.imgDiv{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.imgcontainer{
    width:70%;
    height:350px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #dedede;
    border: 1px solid #519872;
    outline: none;
}

#step3img{
    padding-bottom: 30px;
}




.propContainer{
    padding: 15px;
    border: none;
    height: 150px;
    width: 95%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 3px;
    display: flex;
    background-color: #dedede;
}

.propImgCon{
    height: 100%;
    width: 150px;
}

.propTitle{
    
    height: 100%;
    box-sizing: border-box;
    width: 490px;
    padding: 10px;
    
}

.propItems{
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    padding-left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-left: 1px solid #000;
    align-items: left;
    padding-left: 10px;
}

.property_name_input{
    border-radius: 2px;
    font-size: 15px;
    width: 60%;
    border: 1px solid #519872;
    outline: none;
    font-weight: 400;
}

#prop_description{
    height: 100px;
    resize: none;
    margin-bottom: 45px;
}

.nextButton{
    box-sizing: border-box;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    background-color: #3b5249;
    font-weight: 700;
}

.textStepOne{
    position: relative;
    right: 15%;
}

#stepOne_2{
    right: 12%;
}

#citystateI{
    right: 3%;
    position: relative;
    bottom: 12px;
}

#csi{
    width: 160px;
}
#csi2{
    width: 160px;
    position: relative;
    right: 20%;
    margin-bottom: 45px;
    bottom: 33px;
}

#csmargin{
    margin-bottom: 1px;
    position: relative;
    right: 7%;
}

.addresstext{
    position: relative;
    right: 22%;
}

.zip{
    position: relative;
    right: 25%;
    bottom: 27px;
}

#pn_wiz2{
    width: 90%;
}

.deleteicon{
    height: 20px;
    position: relative;
    left: 100%;
    bottom: 14%;
}

.inputw3{
    width: 100%;
}

.placehold2{
    height: 40px;
}